<section class="card">
    <div class="card-body">
        <h1>About Me</h1>
        <hr class="my-4">
        <p> I specialize in creating responsive and mobile friendly websites using HTML , CSS , JavaScript, Node.js, Bootstrap and Framework React.</p>
        <hr class="my-4">
        <p>My name is Carlos Delgado. I am a web developer from the Venezuela.</p>
        <hr class="my-4">
        <p>When you choose me for your next project, you can wait:</p>
        <ul>
            <li>A customized solution tailored to your needs.</li>
            <li>Responsive, mobile-friendly design.</li>
            <li>Clean, organized and easy-to-use code.</li>
            <li>Timely delivery and regular communication throughout the project.</li>
        </ul>
        <h2>Work examples: </h2>
        <ol>
            <li><a href="https://alyf-website.vercel.app/" target="_blank" rel="noopener noreferrer">Alyf Medical</a></li>
            <li><a href="https://restaurant-landing-amber.vercel.app/" target="_blank" rel="noopener noreferrer">Restaurant Landing</a></li>
            <li><a href="https://fitness-exercises-one.vercel.app/" target="_blank" rel="noopener noreferrer">Fitness Page</a></li>
        </ol>
    </div>
</section>