<section class="card">
    <div class="card-body">
        <h1>About Page</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab veniam ratione architecto error quaerat corrupti corporis, eum eos ipsa itaque beatae sunt doloribus? Similique, enim!</p>
    </div>
</section>