<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App, nodejs and mongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui cumque reiciendis impedit dignissimos nobis soluta?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam laborum voluptatem quidem nostrum culpa ad magnam est totam quia vitae!</p>
    <a href="https://github.com/CarlosD95" target="_blank" class="btn btn-secondary"><i class="bi bi-github"></i> CarlosD95</a>
</div>