<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App CRUD, nodejs and mongoDB</h1>
    <p class="lead">CRUD application made in node.js, with mongoDB. </p>
    <hr class="my-4">
    <p>It contains private, protected paths, and performs create, read, update and delete functions.</p>
    <p>It has user authentication, and registry among other functionalities.</p>
    <a href="https://github.com/CarlosD95" target="_blank" class="btn btn-primary"><i class="bi bi-github"></i> CarlosD95</a>
</div>