<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header text-center mb-2">
        Account Login
      </div>
      <img src="/img/user.png" class="mx-auto w-50" alt="User">
      <div class="card-body">
        <form action="/signin" method="post">
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Insert your email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Insert your password">
          </div>
          <button class="btn btn-primary btn-block">
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>